{% extends 'layout/layout.html.twig' %}

{% block title %}
    Ajouter
{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" href="{{ asset('css/ajouter.css') }}" type="text/css">
{% endblock %}

{% block body_page %}
    <h1>TODO: Ajouter un produit</h1>
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}