{% extends 'layout/layout.html.twig' %}

{% block title %}
    Bienvenue
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" type="text/css">
{% endblock %}

{% block container %}
    <h1>Bienvenue
        {% if utilisateur is null %}
            anonyme
        {% else %}
            {% if utilisateur.isadmin == 1 %}
                administrateur
            {% else %}
                client {{ utilisateur.prenom }}
            {% endif %}
        {% endif %}
        !</h1>
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}