{% extends 'layout/layout.html.twig' %}

{% block title %}
    Se connecter
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/se_connecter.css') }}" type="text/css">
{% endblock %}

{% block container %}
    <h2>Vous pourrez bientôt vous connecter</h2>
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}