{% extends 'layout/layout.html.twig' %}

{% block title %}
    Se connecter
{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" href="{{ asset('css/se_connecter.css') }}" type="text/css">
{% endblock %}

{% block body_page %}
    <h2>Vous pourrez bientôt vous connecter</h2>
{% endblock %}

{# Créé par Yannis Sauzeau et ... #}