header, footer {
    padding: 5px;
    background-color: lightsteelblue;
    text-align: center;
    color: #1e1e1e;
}

#container {
    margin-bottom: 150px;
}

footer {
    position: relative;
    clear: both;
    margin-top: -100px;
    height: 100px;
}

#flash > h2 {
    width: fit-content;
    width: -moz-fit-content;
    padding: 15px;
    background-color: aquamarine;
    color: black;
    position: relative;
    left: 25px;
    top: 10px;
}

label {
    padding: 25px;
}

input, button, select {
    padding: 10px;
    margin-top: 10px; margin-bottom: 10px;
}

select, button {
    position: relative;
    left: 25px;
}

table, th, td {
    border: 2px solid whitesmoke;
}

th, td {
    text-align: center;
    padding: 15px;
}

table {
    border-collapse: collapse;
}

/* Créé par Yannis Sauzeau et Benjamin Chevais */