header, footer {
    padding: 5px;
    background-color: lightsteelblue;
    text-align: center;
    color: #1e1e1e;
}

footer {
    position: absolute;
    right: 5px; left: 5px; bottom: 50px;
}

/* Créé par Yannis Sauzeau et Benjamin Chevais */