{% extends 'layout/layout.html.twig' %}

{% block title %}
    Création
{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" href="{{ asset('css/utilisateur/creation.css') }}" type="text/css">
{% endblock %}

{% block body_page %}
    <h1>TODO: Création d'un utilisateur</h1>
{% endblock %}

{# Créé par Yannis Sauzeau et ... #}
