{% extends 'main/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    {% block stylesheets_page %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="banner_top">
        {{ include('layout/banner_top.html.twig') }}
    </div>
    <div id="menu">
        {{ render(controller('App\\Controller\\MenuController::menuAction')) }}
    </div>
    {% block body_page %}{% endblock %}
    <footer>
        <img src="{{ asset('image/banner_bottom.jpg') }}" alt="Image du bandeau de bas de page">
    </footer>
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}