{% extends 'main/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    {% block stylesheets_page %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="banner_top">
        {{ render(controller('App\\Controller\\BannerTopController::bannerAction')) }}
    </div>
    <div id="menu">
        {{ render(controller('App\\Controller\\MenuController::menuAction')) }}
    </div>
    {% block body_page %}{% endblock %}
    <div id="banner_bottom">
        <footer>
            <img src="{{ asset('image/banner_bottom.jpg') }}" alt="Image du bandeau de bas de page">
        </footer>
    </div>
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}